<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="upload/icon_tran.png" />
    <title>BOOFOOD VỪA THỔI VỪA ĂN</title>
    <meta name="description" content="Trang chủ BooFood" />
    <meta
      name="keywords"
      content="dat mon, BooFood, goi mon an nhanh, mo nha hang online"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="header" style="z-index: 10">
      <div class="container">
        <div class="logo__wrap">
          <div class="logo__image logo">
            <img
              src="http://localhost:3100/upload/logo.svg"
              alt="Chưa load ảnh"
            />
          </div>
        </div>
        <nav class="nav">
          <ul class="nav__menu">
            <li class="active">
              <a href="#">BooFood là gì</a>
            </li>
            <li><a href="#">Ứng tuyển thành Rider</a></li>
            <li>
              <a style="cursor: pointer" target="_blank" href="/assign-merchant"
                >Ứng tuyển thành Merchants</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__1
          justify-content-center
          text-center
          align-content-center
          d-flex
        "
      >
        <div class="container">
          <div class="section__title col-lg-4">
            <h2 class="title--lg">
              <span class="d-block"> BOOFOOD</span>
              <span class="d-block"> VỪA THỔI</span>
              <span class="d-block"> VỪA ĂN!</span>
            </h2>
          </div>
          <div class="section__image col-lg-8">
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/top-banner-image1.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__2
          justify-content-center
          text-center
          align-content-center
        "
      >
        <div class="container">
          <div class="section__title col-lg-7">
            <h1 class="title--lg">GIẢM GIÁ KHỦNG</h1>
            <div class="section__desc">
              <h4 class="desc--primary" style="font-weight: 500">
                Nhiều ưu đãi hấp dẫn và được thay đổi mỗi ngày
              </h4>
              <button
                style="border-radius: 5px; margin-top: 10px"
                class="btn--2"
              >
                FOOD BLOG
              </button>
            </div>
          </div>

          <div
            class="section__image--2 col-lg-5"
            style="position: absolute; bottom: 0; right: 0"
          >
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/baedale-hurray-01.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__2
          justify-content-center
          text-center
          align-content-center
          d-flex
        "
      >
        <div class="container">
          <div class="section__title col-lg-7">
            <h1 class="title--lg">NHIỀU MÓN NGON</h1>
            <div class="section__desc">
              <h4 class="desc--primary">
                Nhiều món ngon cho bạn thoải mái lựa chọn
              </h4>
              <button class="btn--2">FOOD BLOG</button>
            </div>
          </div>

          <div class="section__image--2 col-lg-5">
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/baedale-cat-sherlock-01-pts@3x.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__2
          justify-content-center
          text-center
          align-content-center
          d-flex
        "
      >
        <div class="container">
          <div class="section__title col-lg-7">
            <h1 class="title--lg">CHUYÊN GIA GIAO ĐỒ ĂN</h1>
            <div class="section__desc">
              <h4 class="desc--primary">
                Chúng tôi chỉ tập trung vào dịch vụ giao đồ ăn
              </h4>
              <button class="btn--2">FOOD BLOG</button>
            </div>
          </div>

          <div class="section__image--2 col-lg-5">
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/baedale-bike-03@3x.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__1
          justify-content-center
          text-center
          align-content-center
          d-flex
        "
      >
        <div class="container">
          <div class="section__title col-lg-6">
            <h3 class="title--lg">CÙNG NHAU LÀM RIDER NHÉ</h3>
            <div class="section__desc">
              <p>
                Vừa linh động thời gian làm việc theo ý muốn, vừa có thể nhận
                được những khoản thưởng cực kỳ hấp dẫn. Chúng tôi còn có đồng
                phục, mũ bảo hiểm màu xanh mint và cả túi giao hàng rất ngầu nữa
                đó!
              </p>
              <button class="btn--3">RIDER BLOG</button>
            </div>
          </div>
          <div class="section__image col-lg-6">
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/top-banner-image1.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="fullpage fullpage__wrap1">
      <div
        class="
          section section__1
          justify-content-center
          text-center
          align-content-center
          d-flex
        "
      >
        <div class="container">
          <div class="section__title col-lg-6">
            <h3 class="title--lg">KHI TRỞ THÀNH ĐỐI TÁC CỦA BOOFOOD</h3>
            <div class="section__desc">
              <p>
                Những món ăn ngon lành trong bếp của bạn sẽ được giao đến khách
                hàng theo cách chuyên nghiệp nhất!
              </p>
              <button class="btn--3">MERCHANT BLOG</button>
            </div>
          </div>
          <div class="section__image col-lg-6">
            <img
              class="image__banner--1"
              src="http://localhost:3100/upload/top-banner-image1.png"
              alt="Chưa có hình"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
